body{ -webkit-margin: 0 auto; margin:0 auto;-webkit-max-width:1024px;  max-width: 1024px; font-family: Geneva, Tahoma, sans-serif; }
    header{padding: 2px; margin: 2px;}
    .grenWhite{box-shadow: 10px 10px 5px rgb(142, 144, 146); background: linear-gradient(to bottom right, rgb(43, 65, 73), rgba(48, 156, 124, 0.6));;font-weight: bold; text-align: center; color: honeydew; font-size: 60px; margin-bottom: 10px; margin-top: 15px;}
    .green{ border-radius:10px 10px 40px 40px ; box-shadow: 2px 5px 2px rgb(56, 12, 10); margin-left: 3px; margin-right: 35px;  background: whitesmoke; color:rgb(43, 65, 73); font-size: 30px ; font-weight: bold; margin-top: 5px; margin-bottom: 5px;}
    .bord{letter-spacing: 0.1em;border-radius: 10px; box-shadow: 0px 3px 5px rgb(10, 56, 10); background: rgb(219, 218, 218,0.2);  margin: 15px 0px 10px 5px;width: 600px;padding-left: 10px;}
       
    .cont1{display:flex; 
        flex-direction: column;
        justify-content: center;
        background: whitesmoke;
    }
    .cont2{display:flex; 
            flex-direction: row;
            justify-content: space-between;
            padding-left: 80px;
            margin-top: -80px;
            background: whitesmoke;
            }
    .cont3{display:flex; 
        flex-direction: row;
        justify-content: space-around;
        background: rgb(245, 245, 245);
        margin-left: 0px;margin-right: 0px;
    }
    .cont4{display:flex; 
        flex-direction: row;
        justify-content: space-around;
        border: 1px solid red;
        margin-left: 0px;margin-right: 0px;}

    .box2{position: relative;top: 35px;  height: 35px;  margin-right: 20px;margin-left: 0px; padding: 5px 5px 0px 5px;}
    .box3{align-self:flex-end; position: relative; top: 5%; right: 3%;margin: 15px 8px 5px 7px; width: 18%; height: 22%;}
    .box4{ margin-left:20px ; margin-right: 20px;}
    
        
        
    li :hover { transition: 0.2s;text-shadow: 1px 1px 1px rgb(11, 116, 107);  font-weight: bolder; }
    li :focus{border: 1px solid white; background: rgb(151, 224, 200);}

    ol{text-align:left;  color:rgb(0, 110, 55); font-size: 28px;}
        
@media (max-width: 1000px) {
    body{max-width: 95vw}
    ol{margin-top: 0px;}
    .cont2{ margin-top: 0px;padding-left: 0px; margin-left: 12px;}
    .bord{background: rgb(223, 226, 228);}
    .cont3{flex-direction: column; justify-content:center;margin-bottom: 0px;}
    .box2{margin-top: 0px;  margin:0 auto; text-align: center;height: 65px;}
    .box3{opacity: 0.8;z-index: 1; margin-left: 10px; width: 20%; height: 25%; margin-top: 50px; justify-content: center;align-self:center; ;}}
    .bord{width: 350px;}
    .green{margin:0 auto; padding-bottom: 10px;}
